.backgroundDiv{
  width: 500;
  margin:'auto';
  align-items: 'center';
  display: 'flex';
  flex-direction: 'column';
  background-color: aquamarine;
  padding: 20;
  box-shadow: '0 0 10px 4px #bfbfbf';
  border-radius: 5;
  height: '90vh';
}