@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

body{
  background: rgb(240, 185, 185);
  color: #333;
  font-family: "Nunito", sans-serif;
  overflow: scroll;
}
/* a{
  font-size: 20px;
  color: black;
  text-decoration: none;
  align-self: center;
}
footer{
  margin: auto;
  width: 1500px;
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color:#777;
  border-top: 1px solid rgba(128, 128, 128, 0.338);
} */

