.single {
    text-transform: capitalize;
    border-radius: 5px;
    padding: 2px 16px;
    background: #ffff;
    display:block;
    margin: 20px 10px;
    border-left: 0px solid gray;
}
.single:hover{
    border-left: 10px solid rgb(253, 122, 122);
}